.ic-content-size {
    box-sizing: border-box;
    border: 1px solid white;
    border-radius: 4px;
    color: #fff;
    width: 80px;
    z-index: 99;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
}

.ic-B {
    background-color: #5cb85c !important;
}

.ic-kB {
    background-color: #0275d8 !important;
}

.ic-MB {
    background-color: #f0ad4e !important;
}